@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}


.paige-container {

    display: flex;

}


* h1 {

    font-size: 76px;
    font-family: "Inter";
    font-weight: normal;
    margin-bottom: 16px;
}

.inpt {
    padding: 18px;
    border: none;
    background-color: #f7f9fb;
    border-radius: 10px;
    width: 377px;
    margin-bottom: 16px;

}

.btn {

    background-color: black;
    padding: 18px;
    width: 377px;
    border-radius: 10px;
    color: white;
    border: none;

}



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;

}

.logo {

    height: 60px;
}

.robo-image {

    width: 50vw;
    height: 100vh;

    background-image: url(../assets/imgs/Sidebar.png);
    background-size: cover;


}

/* Pagina 2 */

.container2 {
    display: flex;

}

.chats {

    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #ccc;

}


.New-chat {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 14vw;
    margin: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;

}

.chat1 {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;


}

.chat1 img{

    margin-right: 15px;
}



.chat2 {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.chat2 img{

    margin-right: 15px;
}


.contexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width: 100vw;

}

.logo2 {

    display: flex;
    justify-content: center;
    align-items: center;

}


.tabela th {
    font-size: 22px;
    height: 8vh;
    padding: 10px;

}

.tabela th img {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
   


}

.tabela button {
    background-color: #F7F9FB;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: none;
    width: 17vw;
    font-size: 16px;
    height: 7vh;
    
}

.input-container input {

    padding: 20px;
    border: none;
    background-color: #F7F9FB;
    border-radius: 16px;
    width: 40vw;


}


.input-container {
    height: 7vh;
    border: none;
    border-radius: 16px; 
    background-color: #F7F9FB;
    display: flex; 

    margin-top: auto;
    margin-bottom: 40px; 


}

.input-container img {
    display: flex;
    flex-direction: row; 
    justify-content: center;


}

/* .input-container img:nth-child(3) {

    margin-right: 1000px;

} */


.enviar {

    padding-right: 15px;

}

